#main-toolbar #activity-button {
  background-image: url(../activity/activity-icon.svg);
}

/* #defaultCanvas1{
  background-image: url(../images/bg.jpg);
} */

#two{
  margin-top: -4.7%;
}
#one{
  margin-top: -4.7%;
}
body{
  overflow-y: hidden;
  overflow-x: hidden;
} 

